
:root {
    --app-primary-blue: #5b7cfd;
    --app-primary-green: #33cc86;
    --app-primary-red: #ff57f7;
    --app-primary-orange: #ffae33;
    --app-primary-yellow: #ffcf27;
    --app-primary-cream: #fbe691;


    --app-light-blue: #dee5ff;
    --app-light-green: #cdf5f4;
    --app-light-pink: #ffefdd;
    --app-light-sky-blue: #d8e0fe;

    --app-neutral-dark-blue: #232d42;
    --app-neutral-light-gray: #8a92a6;
    --app-neutral-dark-gray: #737b8b;
    --app-neutral-light-blue: #e7eef7;
    --app-neutral-light-cream: #e3e5e8;
    --app-neutral-gray: #929292;


    --app-bg-color: #5374f0;
    --app-domain-header-bg: #f5f6fa;
}