
<section class="domain-details">
  <!-- Main domain section -->
  <div class="main-domain d-flex-row justify-content-start align-items-center"
      [class.remove-border-bottom-radius]="domain?.subdomain?.length">
    
    <!-- Domain details column -->
    <div class="w-30 d-flex-column justify-content-start align-items-start" style="margin-left: -5px;">
      <span class="domain-name mb-5" [innerHtml]="domain?.domain"></span>
      <span class="professional-plant d-flex-row justify-content-start align-items-center">
        <img src="assets/icons/professional-pack-icon.png"
          alt="professional-pack-icon"
          loading="lazy"
          height="20px" width="20px">
        <span class="ml-3">Professional Plan</span>
      </span>
    </div>

    <!-- Storage column progress bar -->
    <div class="storage-section w-30">
      <div class="storage-bar mb-5">
        <div class="storage-used" 
          [style.width.%]="storageUsed" 
          [class.border-radius-adjustments]="storageUsed === 100">
        </div>
      </div>
      <div class="value"> {{domain?.usedStorage}}GB of {{domain?.storage}}GB</div>
    </div>

    <!-- Monthly visitors progress bar -->
    <div class="w-30 monthly-visitors">
      <div class="storage-bar mb-5">
        <div class="storage-used" 
          [style.width.%]="monthlyUsersPercentage" 
          [class.border-radius-adjustments]="monthlyUsersPercentage === 100">
        </div>
      </div>
      <div class="value"> {{domain?.monthlyVisitor}} of {{domain?.monthlyVisitorCapacity}}</div>
    </div>

    <!-- Show the number of domains they are using including sub-domains -->
    <div class="w-20 total-domains-section justify-content-start align-items-center">
      <div class="circular-progress-bar d-flex-row justify-content-center align-items-center">
        <span [innerHtml]="domain?.usedDomains + '/'"></span>
        <span [innerHtml]="domain?.availableDomains"></span>
      </div>
    </div>

    <div class="w-20 status-section"></div>
  </div>
  
  <!-- Iterating the subdomains if have any -->
  <div class="sub-domains" *ngIf="domain?.subdomain?.length">
    <app-sub-domain-tile 
      *ngFor="let subdomain of domain?.subdomain" 
      [subdomain]="subdomain"
      [status]="domain?.status">
    </app-sub-domain-tile>
  </div>
</section>
