<section class="d-flex-row">
  <div class="side-nav">
    <app-side-nav></app-side-nav>
  </div>
  <div class="right-section">
    <header class="d-flex-row justify-content-btw align-items-center mb-35">
      <h2>Site Details</h2>
      <div class="add-domain-btn d-flex-row align-items-center" (click)="isDialogOpened = !isDialogOpened">
        <mat-icon class="mr-16">add</mat-icon>
        <span>add new site</span>
      </div>
    </header>

    <div class="show-and-search d-flex-row justify-content-start align-items-center mb-35">
      
      <!-- Show Pagenation -->
      <div class="show-section mr-16 d-flex-row align-items-center justify-content-start">
        <span class="label">Show</span>
        <span class="value d-flex-row justify-content-btw align-items-center">
          <span class="mr-8">10</span>
          <span class="d-flex-column justify-content-start align-items-center">
            <mat-icon>keyboard_arrow_up</mat-icon>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        </span>
      </div>

      <!-- Search domain entries -->
      <div class="search-section d-flex-row justify-content-start align-items-center">
        <span class="label">Entries</span>
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search records" [formControl]="searchDomain">
      </div>
    </div>

    <!-- domains list table -->
    <div>
      <div class="domains-table-header mb-15 d-flex-row justify-content-btw align-items-center">
        <span 
          class="table-header-item" 
          [class.w-20]="index >= 3" 
          *ngFor="let item of headerItems;let index = index" 
          [innerHtml]="item">
        </span>
      </div>

      <div class="d-flex-column justify-content-start align-items-start">

        <ng-container *ngIf="(filteredDomainsList$ | async) as filteredDomainsList">

          <ng-container *ngIf="filteredDomainsList.length; then domainTiles else noDomainsMsg"></ng-container>
          
          <ng-template #domainTiles>
            <app-domain-info-tile 
              style="width: 100%;" 
              *ngFor="let domain of filteredDomainsList" 
              [domain-info]="domain">
            </app-domain-info-tile>
          </ng-template>

          <ng-template #noDomainsMsg>
            <div class="no-domain-found d-flex-row justify-content-center align-items-center">
              No domains were found with "<span [innerHtml]="searchDomain.value" class="domain-name"></span>"
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>

  </div>
</section>

<!-- To show pop-up -->
<div *ngIf="isDialogOpened">
  <div id="overlay" [style.display]="isDialogOpened ? 'block' : 'none'"></div>
  <div class="dialog">
    <div class="dialog-header-section d-flex-row justify-content-btw align-items-center">
      <h4>Add Domain Details</h4>
      <mat-icon (click)="isDialogOpened = !isDialogOpened">close</mat-icon>
    </div>
    
    <div class="dialog-body d-flex-column justify-content-start align-items-start">
      
      <form [formGroup]="addDomainForm" (ngSubmit)="submitForm()">
        
        <div class="d-flex-row input-fields-row mb-20" >
          <div class="d-flex-column input-field">
            <label for="domain name" class="mb-10">Domain Name*</label>
            <input type="text" placeholder="Domain name"  [formControl]="domain">
          </div>
          <div class="d-flex-column input-field">
            <label for="storage" class="mb-10">Storage*</label>
            <input type="text" placeholder="Storage" [formControl]="storage">
          </div>
        </div>

        <div class="d-flex-row input-fields-row">
          <div class="d-flex-column mb-10 input-field">
            <label for="domain name" class="mb-10">Subdomain</label>
            <!-- On key enter, crating a new subdomain object and displaying 
                name below the input -->
            <input type="text" placeholder="Sub domain" #subdomainInput 
              (keyup.enter)="addASubDomain(subdomainInput)">
              <!-- iterating the list of sub-domains added -->
              <div class="d-flex-row new-subdomain-tile justify-content-btw" 
                *ngFor="let subdomainItem of subdomain.value; let index = index">
                <span>{{subdomainItem?.name}}</span>
                <mat-icon (click)="removeSubdomain(index)">close</mat-icon>
              </div>
          </div>

          <div class="d-flex-column input-field">
            <label for="monthlyVisitor" class="mb-10">Monthly Visitors*</label>
            <input type="text" placeholder="Monthly Visitors" [formControl]="monthlyVisitor">
          </div>
        </div>


        <div class="footer-btns d-flex-row justify-content-end align-items-center" >
            <div class="d-flex-row justify-content-start align-items-center">
              <span class="close-btn" (click)="resetForm();">Close</span>
              <button class="save-domain" type="submit" [disabled]="addDomainForm.invalid">Save Changes</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
