<section class="d-flex-row">
  <div class="side-nav">
    <app-side-nav></app-side-nav>
  </div>
  <div class="right-section">
    <header class="d-flex-row justify-content-btw align-items-center mb-35">
      <h2>Site Details</h2>
      <div class="add-domain-btn d-flex-row align-items-center">
        <mat-icon class="mr-16">add</mat-icon>
        <span>add new site</span>
      </div>
    </header>

    <div class="show-and-search d-flex-row justify-content-start align-items-center mb-35">
      
      <!-- Show Pagenation -->
      <div class="show-section mr-16 d-flex-row align-items-center justify-content-start">
        <span class="label">Show</span>
        <span class="value d-flex-row justify-content-btw align-items-center">
          <span class="mr-8">10</span>
          <span class="d-flex-column justify-content-start align-items-center">
            <mat-icon>keyboard_arrow_up</mat-icon>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        </span>
      </div>

      <!-- Search domain entries -->
      <div class="search-section d-flex-row justify-content-start align-items-center">
        <span class="label">Entries</span>
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search records" [formControl]="searchDomain">
      </div>
    </div>

    <!-- domains list table -->
    <div>
      <div class="domains-table-header mb-15 d-flex-row justify-content-btw align-items-center">
        <span 
          class="table-header-item" 
          [class.w-20]="index >= 3" 
          *ngFor="let item of headerItems;let index = index" 
          [innerHtml]="item">
        </span>
      </div>

      <div class="d-flex-column justify-content-start align-items-start">
        <ng-container *ngIf="(filteredDomains$ | async ) as domains">
          
          <ng-container *ngIf="domains.length > 1; then domainTiles else noDomainsMsg"></ng-container>
          
          <ng-template #domainTiles>
            <app-domain-info-tile 
              style="width: 100%;" 
              *ngFor="let domain of domains" 
              [domain-info]="domain">
            </app-domain-info-tile>
          </ng-template>

          <ng-template #noDomainsMsg>
            <div class="no-domain-found d-flex-row justify-content-center align-items-center">
              No domains were found with "<span [innerHtml]="searchDomain.value" class="domain-name"></span>"
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>

  </div>
</section>
