
section {
    padding: .85em 1.4em;
    background: var(--app-neutral-light-gray);
    
    .subdomain-name {
        color: var(--app-neurtral-dark-blue);
        font-weight: 500;
        font-size: 13px;

    }
}