/* You can add global styles to this file, and also import other style files */
p {
    margin: 0;
    margin-bottom: 8px;
}

button {
    margin-left: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}