@if (books.length) {
  <main>
    @for (book of books; track book.id) {
      <div class="book-item"> 
        <p>{{book.volumeInfo.title}}</p>
        <div>
          <span> by {{book.volumeInfo.authors}}</span>
          <button
            (click)="remove.emit(book.id)"
            data-test="remove-button"
            style="margin-left: 12px; margin-bottom: 12px;"
          >Remove from Collection</button>
        </div>
      </div>
    }
  </main>
} @else {
  <p class="empty-collection">Your collection is empty.</p>
}